h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-weight: 900!important;
    color:hsl(0, 0%, 95%);
    padding-top: 25px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 25px;
    padding-bottom: 75px;
}

body{
    font-size: 15px;
}

button{
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    border-radius: 25px!important;
    border: 1px solid white;
    padding: 10px 50px;
}

#sedans{
    background-color: hsl(31, 77%, 52%);
}

#suvs{
    background-color: hsl(184, 100%, 22%);
}

#luxury{
    background-color: hsl(179, 100%, 13%);
}

#sedanbutton{
    color: hsl(31, 77%, 52%);
}

#suvbutton{
    color: hsl(184, 100%, 22%);
}

#luxurybutton{
    color: hsl(179, 100%, 13%);
}

#sedanbutton:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
    border: 1px solid white;
}

#suvbutton:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
    border: 1px solid white;
}

#luxurybutton:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 1px solid white;
}